/** @type {import('next').NextConfig} */
const nextConfig = {
  reactStrictMode: true,
  swcMinify: true,
  
  // Jika Anda memerlukan redirects, gunakan format ini:
  async redirects() {
    return [
      // Contoh redirect:
      // {
      //   source: '/lama',
      //   destination: '/baru',
      //   permanent: true,
      // }
    ]
  },
}

module.exports = nextConfig